.App {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('./components/lantern.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.header {
  background-color: #2A0944;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  width: 100%;
  height: 7vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
}

.hero {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  top: 17px;
}

.hero img {
  top: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.filter-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 10px;
}

.search-bar {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter label {
  font-weight: bold;
}

.filter select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.results-count {
  font-weight: bold;
  white-space: nowrap;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  flex: 1;
  margin-top: 10px;
}

.card {
  width: 350px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.pagination-button {
  background-color: #2A0944;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #59127c;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-numbers {
  display: flex;
  gap: 0.5rem;
}

.pagination-number {
  background-color: #0E2954;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.pagination-number:hover {
  background-color: #1F6E8C;
}

.pagination-number.active {
  background-color: #1F6E8C;
}

.footer {
  background-color: #2A0944;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  position: relative;
  bottom: 0;
}
